@import '../fonts/font-face.css';

.svg-resume {
    font-family: Poppins;
    width: 80%;
    animation: 15s linear 0s infinite normal none running rotate;
}

path {
    font-family: Poppins;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.starfull {
    stroke: #1E1E1E;
    stroke-width: 50;
}